/* Archivo con los estilos globales */

/* He decidido usar variables para almacenar los colores usados */
:root {
  --colorPrimario500 :#E75ECA;
  --colorPrimario400: #EB75D1;
  --colorPrimario300: #EE8CD9;
  --colorPrimario200: #F2A3E1;
  --colorPrimario50: #F8D1F0;
  --colorPrimario600: #DF26B7;

  --colorSecundario500 :#3A264B;
  --colorSecundario400: #53376C;
  --colorSecundario200: #865AAC;
  --colorSecundario100: #9E7BBC;
  --colorSecundario50: #B79CCD;
}


* {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

/* Clases para los modos oscuro y modo día */

.modoOscuro {
  --colorFondoHeaderFooter: #000000;
  --colorLetra: #ffffff;
  --colorFondoBody: #171717;
  --colorImg: 0;
  --colorBarraBusqueda: #2E2E2E;
  --colorTituloHeaderFooter: var(--colorPrimario500);
  --colorTituloContenido: var(--colorPrimario400);
  --colorFondoFiltros: #292929;
  --colorFondoFila:#292929;
}

.modoDia {
  --colorFondoHeaderFooter: #888888;
  --colorLetra: #2E2C2C;
  --colorFondoBody: #CCCCCC;
  --colorImg: 1;
  --colorBarraBusqueda: #E6E6E6;
  --colorTituloHeaderFooter: var(--colorPrimario600);
  --colorTituloContenido: var(--colorPrimario600);
  --colorFondoFiltros: #A8A8A8;
  --colorFondoFila:#A8A8A8;
}

.themeImg {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.1%;
  filter: invert(var(--colorImg));/* De esta forma invierto el color de la imagen para que cambie según el modo de la pagina */
}

a:hover{
  cursor: pointer;
}

#logo:hover {
  animation: rotation 1s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el menú navegación */

header {
  background-color: var(--colorFondoHeaderFooter);
}

header a {
  color: var(--colorTituloHeaderFooter);
  text-decoration: none;
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 30px;
}

nav {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}

nav img {
  width: 80px;
  height: 80px;
}

body {
  background-color: var(--colorFondoBody);
}

/* Estilos footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorFondoHeaderFooter);
  padding: 1.1%;
}

footer a {
  color: var(--colorTituloHeaderFooter);
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
}

footer div {
  display: flex;
  justify-content: center;
}

footer div a img {
  width: 24px;
  height: 24px;
  margin: 0 3px;
  filter: invert(var(--colorImg));
}

/* Estilos para los checkbox */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: white;
  border-radius: 25%;
  border: 1px solid black;
}

input[type=checkbox]:hover {
  appearance: none;
  background-color: var(--colorSecundario50);
  border-radius: 25%;
}

input[type=checkbox]:checked {
  appearance: none;
  background: var(--colorPrimario500) url('../imagenes/iconos/Icons.svg') no-repeat right center;
  background-size: contain;
  border-radius: 25%;
}

input[type=checkbox]:checked:hover {
  appearance: none;
  background: var(--colorSecundario400) url('../imagenes/iconos/Icons.svg') no-repeat right center;
  border-radius: 25%;
  background-size: contain;
}

/* Estilos de las rutas */

.ruta{
  display: flex;
  flex-direction: row;
}

.ruta a {
  color: var(--colorSecundario50);
  text-decoration: none;
  font-size: 25px;
}

/* Estilos para el título y el usuario */

.secInfoKeymap {
  margin: 3% 10% 8% 10%;
}

.titulo {
  font-size: 48px;
  color: white;
}

.usuario a,
.usuario {
  text-align: right;
  color: var(--colorSecundario100);
  text-decoration: none;
  font-size: 25px;
}

/* Responsive Header y Footer */

@media screen and (max-width: 768px) {

  header a {
    font-size: 20px;
  }

  nav img {
    width: 40px;
    height: 40px;
  }

  .luna {
    width: 24px;
    height: 24px;
    /* margin: %; */
  }

  /* Footer responsive */

  footer a {
    font-size: 15px;
  }

  footer div a img {
    width: 16px;
    height: 16px;
  }

  /* Checkbox responsive */

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  /* Rutas */

  .ruta a {
    font-size: 15px;
  }

  /* Título */

  .titulo {
    font-size: 35px;
  }

  /* Usuario creador */

  .usuario {
    font-size: 18px;
  }

  .usuario > a > img {
    width: 24px;
    height: 24px;
  }

}

@media screen and (max-width: 350px) {

  header a {
    font-size: 12px;
  }

  nav img {
    width: 20px;
    height: 20px;
  }

  .luna {
    width: 12px;
    height: 12px;
  }

  /* Footer responsive */
  footer a {
    font-size: 10px;
  }

  footer div a img {
    width: 10px;
    height: 10px;
  }

  /* Checkbox responsive */

  input[type="checkbox"] {
    width: 12px;
    height: 12px;
  }

  /* Rutas */

  .ruta a {
    font-size: 12px;
  }

  /* Título */

  .titulo {
    font-size: 25px;
  }


  /* Usuario creador */

  .usuario {
    font-size: 14px;
  }

  .usuario > a > img {
    width: 12px;
    height: 12px;
  }
}