/* Estilos para la pagina de informacion sobre QMK */


* {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  color: white;
}


.secInfoQMK {
  margin: 3% 10% 8% 10%;
}

/* .ruta a {
  color: #9E7BBC;
  text-decoration: none;
  font-size: 25px;
} */

h1 {
  margin: 1%;
}

.tituloPagina {
  font-size: 48px;
  color: white;
}

.infoQMK {
  display: flex;
  flex-direction: row;
  padding: 6% 0 3% 0;
}

.infoQMK > div > p:first-child {
  margin-bottom: 5%;
}

.infoQMK p {
  margin-right: 6%;
}

p {
  /* font-size: 32px; */
  font-size: clamp(12px, 3vw, 32px);
  color: var(--colorLetra);
}

ul, ol, li {
  color: var(--colorLetra);
  font-size: clamp(8px, 2vw, 24px);
}

.infoQMKImagenes div {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgPrincipal {
  width: 600px;
  height: 350px;
}

.imgSecundaria {
  width: 100px;
  height: 75px;
}

/* Responsive */

@media screen and (max-width: 768px) {

  .infoQMK {
    flex-direction: column;
    align-items: center;
  }

  .imgPrincipal {
    margin-top: 10%;
    width: 400px;
    height: 250px;
  }

  .imgSecundaria {
    width: 75px;
    height: 50px;
  }
}

@media screen and (max-width: 350px) {

  .imgPrincipal {
    margin-top: 10%;
    width: 250px;
    height: 150px;
  }

  .imgSecundaria {
    width: 50px;
    height: 25px;
  }

}